<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <%= link_to "Editar este cliente", edit_cliente_path(@cliente) %> |
  <%= link_to "Voltar para clientes", clientes_path %>

  <%= button_to "Remover este cliente", @cliente, method: :delete %>
</div>
