<div id="<%= dom_id desenvolvedore %>">
  <p>
    <strong>Cpf:</strong>
    <%= desenvolvedore.cpf %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= desenvolvedore.nome %>
  </p>

  <p>
    <strong>Funcao:</strong>
    <%= desenvolvedore.funcao %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= desenvolvedore.telefone %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= desenvolvedore.salario %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= desenvolvedore.endereco %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= desenvolvedore.Produto_id %>
  </p>

</div>
