<p style="color: green"><%= notice %></p>

<%= render @desenvolvedore %>

<div>
  <%= link_to "Editar este desenvolvedor", edit_desenvolvedore_path(@desenvolvedore) %> |
  <%= link_to "Voltar para desenvolvedores", desenvolvedores_path %>

  <%= button_to "Remover este desenvolvedor", @desenvolvedore, method: :delete %>
</div>
