<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar este produto", edit_produto_path(@produto) %> |
  <%= link_to "Voltar para produtos", produtos_path %>

  <%= button_to "Remover este produto", @produto, method: :delete %>
</div>
